.git
.gitignore
.github

vendor
node_modules

.env
.env.*
!.env.example

database/database.sqlite

storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

*.md
!README.md

.phpunit.result.cache
docker-compose.yml
